---
import BaseHead from '../../../components/BaseHead.astro';
import { SITE_TITLE } from '../../../consts';
import { AdminGuard } from '../../../components/auth/AdminGuard';
import { AccountLayout } from '../../../components/account/AccountLayout';
import { ProjectManager } from '../../../components/editors/ProjectManager';
import { getAllProjects } from '../../../lib/projects/server';
import { getAllSkills } from '../../../lib/skills/server';
import '../../../styles/global.css';

const projects = await getAllProjects();
const skills = await getAllSkills();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Projects Management | ${SITE_TITLE}`} description="Manage projects" />
	</head>
	<body>
		<AdminGuard client:load>
			<AccountLayout client:load currentPath="/account/editor/projects">
				<ProjectManager client:load projects={projects} skills={skills} />
			</AccountLayout>
		</AdminGuard>
	</body>
</html>
