---
import BaseHead from '../../../components/BaseHead.astro';
import { SITE_TITLE } from '../../../consts';
import { AdminGuard } from '../../../components/auth/AdminGuard';
import { AccountLayout } from '../../../components/account/AccountLayout';
import SettingsManager from '../../../components/editors/SettingsManager';
import '../../../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Settings | ${SITE_TITLE}`} description="Business settings and preferences" />
	</head>
	<body>
		<AdminGuard client:load>
			<AccountLayout client:load currentPath="/account/editor/settings">
				<SettingsManager client:load />
			</AccountLayout>
		</AdminGuard>
	</body>
</html>
