---
import BaseHead from '../../../components/BaseHead.astro';
import { SITE_TITLE } from '../../../consts';
import { AdminGuard } from '../../../components/auth/AdminGuard';
import { AccountLayout } from '../../../components/account/AccountLayout';
import { SkillManager } from '../../../components/editors/SkillManager';
import { getAllSkills } from '../../../lib/skills/server';
import '../../../styles/global.css';

const skills = await getAllSkills();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Services Management | ${SITE_TITLE}`} description="Manage services" />
	</head>
	<body>
		<AdminGuard client:load>
			<AccountLayout client:load currentPath="/account/editor/skills">
				<SkillManager client:load skills={skills} />
			</AccountLayout>
		</AdminGuard>
	</body>
</html>
